

/* start w3 css help */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #157EFB;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/* end w3 css help */

body {
    background-color:  grey;
}

#loginbox
{
  padding-top: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
}
#message
{
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
}
#body
{width: 100%;}

#post-story
{
text-align: center;
}


#storytable{

  padding-top: 70px;


}



#big-button{
   position: fixed;
   bottom: 0px;
   width: 100px;
   background-color: green;
   color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
